
<div style="margin-top:10px;">

<div class="container">

<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
			    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                    <label class="lableText" for="email">Enter Email to reset passward</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="email" class="form-control" id="email" name="username" autocomplete="username email" placeholder="email address" required>
					</div>
                   
					<span class="help-block"></span>
							
					<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
				</form>
			</div>
    	</div>


</div>
</div>