<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
    <script type='text/javascript' src='/javascripts/tether.min.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap.js'></script>    
    <script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
    <script type='text/javascript' src='http://code.jquery.com/jquery-2.1.4.min.js'></script>

  </head>
  <body>
<div class="navbar navbar-inverse navbar-fixed-top navbar-inverseHeaderlogo">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a href="/" title="Laksh Work"><img src="/Images/DD4Y.png" alt="Laksh Work" style="padding-top:2px;padding-left:2px;padding-bottom:2px;"></a>

            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" title="Home">Home</a></li>
                    <li><a href="/about" title="AboutUs">AboutUs</a></li>
                    <li><a href="/contact" title="ContactUs">ContactUs</a></li>


                </ul>
                    <ul class="nav navbar-nav navbar-right">
        <li><a href="/register" id="registerLink" title="Registration">Register</a></li>
        <li><a href="/login" id="loginLink" title="Login">Log in</a></li>
    </ul>

            </div>
        </div>
</div>

    {{{body}}}
  </body>
</html>
